<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head>
    <title>挂号信息</title>
    <meta name="viewport" http-equiv="Content-Type"
          content="text/html; charset=UTF-8;width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/zhiyuan.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body style="background-color: #f5f4f8" background="images/bg.jpg">
<div class="panel panel-primary" style="margin-top: 50px;margin-left: 15px; margin-right: 15px;">
    <div class="panel-heading">
        <h3>挂号信息</h3>
    </div>
    <div class="panel-body">
        <h5 style="font-size:16px">挂号时间：</h5>
        <h4 th:text="${userInfo.getDateTime()}"></h4>
        <h5 style="font-size:16px">姓名：</h5>
        <h3 th:text="${userInfo.getUsername()}"></h3>
        <h5 style="font-size:16px">号码：</h5>
        <h1 th:text="${userInfo.getOrderNumber()}" style="color: red"></h1>
        <h5 style="font-size:16px">性别</h5>
        <h3 th:text="${userInfo.getGender()}"></h3>
        <h5 style="font-size:16px">年龄</h5>
        <h3 th:text="${userInfo.getUserAge()}"></h3>
        <h5 style="font-size:16px">评测得分</h5>
        <h3 th:text="${userInfo.getScore()}"></h3>
    </div>
</div>

</body>
</html>